* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4a7485;
}
sup {
  position: absolute;
  top: 3;
  margin-left: 3px;
  color: #0cbd97;
  font-size: medium;
}

label {
  color: #0cbd97;
  font-size: medium;
  font-weight: bolder;
}

main {
  display: block;
  margin: 20px auto;
  background-color: white;
  width: 78%;
  border-radius: 5px;
}

h1 {
  text-align: center;
  background-color: #eef0f0;
  color: #686968;
  padding: 15px;
  border-radius: 5px;
}

.flex-between {
  margin-top: 13px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.email {
  margin-top: 13px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

input[type="text"] {
  height: 1.5em;
  width: 15.5em;
}

input[type="email"] {
  height: 1.5em;
  width: 32.5em;
}

input[type="file"] {
  height: 1.5em;
  width: 6.5em;
}

input[type="range"] {
  width: 13.2em !important;
  margin-top: 2px !important;
  margin-right: 5px !important;
  margin-left: 4px !important;
}

select {
  height: 1.5em;
  width: 16em;
}
.keret {
  width: 42%;
  display: block;
  margin: 0 auto;
}

.keret .flex-between {
  justify-content: space-between;
  gap: 0px !important;
}

input[type="checkbox"] {
  height: 0.9em;
  width: 0.7em;
}

.keret label {
  font-size: 13px;
  gap: 0;
  margin: 0;
  padding: 0;
  color: #706e6d;
}

.hobbies {
  font-size: 15px !important;
  width: 50%;
  gap: 0;
  margin: 0;
  padding: 0;
}

#label {
  color: #0cbd97;
  font-size: 100%;
}

.flex {
  display: flex;
}

.ar {
  margin-top: 12px;
  background-color: #0cbd97;
  border-radius: 5px;
  text-align: center;
  padding-top: 4px !important;
  padding: 3px;
  color: white;
}

#file {
  margin-left: 5px;
}

.bio {
  text-align: center;
}

.bio {
  margin-top: 0px;
}

.utolso {
  margin-bottom: 15px;
}

textarea {
  margin-bottom: 20px;
}

.gomb {
  margin: 0 0;
  background-color: #eef0f0;
  height: 3em;
}

button {
  float: right;
  margin: 5px 23em;
  padding: 0.7em 1.4em;
  background-color: #0cbd97;
  color: white;
  border: 0px;
  border-radius: 5px;
}
